input {
    background-color: #E6F3FB;
    color: #071218;
    border: none;
    outline: none;
    width: 450px;
    height: 25px;
    border-radius: 9px;
    padding: 5px 15px;
}

input::file-selector-button {
    background-color: #071217;
}

input::placeholder {
    color: #071217;
}

.box button {
    height: 40px;
    margin: 25px;
}