.box {
    height: 200px;
}

input {
    background-color: #E6F3FB;
    color: #071218;
    border: none;
    width: 350px;
    height: 15px;
    border-radius: 9px;
    padding: 5px 15px;
}

input {
    outline: none;
    margin-bottom: 14px;
}

input::placeholder {
    color: #071217;
}

.box button {
    height: 35px;
}