* {
    font-family: "Alexandria", alexandria;
    font-weight: bold;
}

html,
body {
    margin: 0;
    justify-content: center;
    height: 100%;
    background-color: #E6F3FB;
}

#header {
    font-size: large;
    color: #071218;
    text-align: center;
}

hr {
    width: 90%;
}

.topbar {
    background-color: #1E3B48;
    overflow: hidden;
    text-align: center;
}

#topbar img {
    margin: auto;
}

.box {
    background-color: #335E71;
    height: 200px;
    margin: 0 400px;
    border-radius: 45px;
    text-align: center;
}

.box p,
label {
    position: relative;
    padding-top: 20px;
    color: #E6F3FB;
}

.box button {
    background-color: #1E3B48;
    color: #E6F3FB;
    border: none;
    height: 50px;
    width: 230px;
    border-radius: 5px;
    margin: 5px 0;
}