.box {
    height: 340px;
}

input {
    background-color: #E6F3FB;
    color: #071218;
    border: none;
    width: 480px;
    height: 21px;
    border-radius: 9px;
    padding: 5px 15px;
}

input {
    outline: none;
    margin-bottom: 3%;
}

input::placeholder {
    color: #071217;
}

.box button {
    height: 50px;
    margin-top: 15px;
}