html,
body {
    height: 100%;
}

#salvar {
    background-color: #5B9BB9;
}

.box {
    margin: 0 20%;
    height: 250px;
}

.box button {
    padding: 0;
}

.box button {
    width: 250px;
    padding: 5px 35px;
    height: 50px;
    vertical-align: middle;
    margin-top: 30px;
}

#info {
    padding: 0 30px;
    text-align: center;
}

#info #id {
    width: 60px;
    margin-right: 10px;
}

#info #nome {
    width: 300px;
}

#info #ano {
    width: 60px;
    margin-right: 10px;
}

#info #escola {
    width: 200px;
    margin-top: 15px;
}

#info #modalidade {
    width: 100px;
    margin-top: 15px;
}

input {
    background-color: #E6F3FB;
    color: #071218;
    border: none;
    width: 400px;
    height: 15px;
    border-radius: 9px;
    padding: 5px 15px;
    outline: none;
}

#tgabarito {
    padding-top: 0;
    font-size: x-large;
}

.gabarito {
    display: flex;
    gap: 2rem;
    /* space between columns */
}

.gabarito {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 0 auto;
}

.gabarito input {
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
    margin: 0.2rem;
    cursor: pointer;
    text-align: center;
    border-radius: 30%;
}

.gabarito input::placeholder {
    color: black;
    opacity: 1;
}

.gabarito .column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#respostas {
  background-color: #E6F3FB;
  width: 40%;
  height: 22%;
}

.gabarito #rect {
    position: absolute;
    background-color: #E6F3FB;
    width: 1.5%;
    height: 1%;
    margin-left: 2.8%;
    margin-top: 1.7%;
}