.box {
    height: 55%;
}

input {
    background-color: #E6F3FB;
    color: #071218;
    border: none;
    width: 82%;
    height: 14%;
    border-radius: 9px;
    padding: 1% 3%;
}

input {
    outline: none;
    margin-bottom: 3%;
}

input::placeholder {
    color: #071217;
}

.box button {
    height: 15%;
    margin: 5%;
}