html,
body {
    height: 110%;
}

.box {
    margin: 0 300px;
    height: 550px;
}

.box button {
    width: 240px;
    padding: 0 35px;
    margin-top: 35px;
    height: 65px;
    vertical-align: middle;
}

#salvar {
    background-color: #5B9BB9;
}

#info {
    padding: 0 25px;
    text-align: center;
}

#info #ano {
    width: 50px;
    margin-right: 10px;
}

#info #modalidade {
    width: 150px;
    margin-right: 10px;
}

#info #fase {
    width: 50px;
}

#info #id {
    width: 150px;
    margin-top: 8px;
}

input {
    background-color: #E6F3FB;
    color: #071218;
    border: none;
    width: 400px;
    height: 20px;
    border-radius: 9px;
    padding: 5px 15px;
    outline: none;
}

#tgabarito {
    padding-top: 0;
    font-size: x-large;
}

.gabarito {
    display: flex;
    gap: 2rem;
    /* space between columns */
}

.gabarito {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 0 auto;
}

.gabarito input {
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
    margin: 0.15rem;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
}

.gabarito input::placeholder {
    color: black;
    opacity: 1;
}

.gabarito .column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.gabarito #rect {
    position: absolute;
    background-color: #E6F3FB;
    width: 14px;
    height: 7px;
    margin-left: 40px;
    margin-top: 23px;
}

#respostas {
    background-color: #E6F3FB;
    width: 20px;
    height: 35px;
}